<nav class="navbar navbar-expand-lg navbar-light" style="background-color: honeydew;">
  <a class="navbar-brand" href="#">Arti</a>
  <ul class="navbar-nav mr-auto">
    <li ngbDropdown class="nav-item">
      <a ngbDropdownToggle id="navbarMenu2" class="nav-link dropdown-toggle" role="button">Historique/Stats</a>
      <div ngbDropdownMenu aria-labelledby="navbarMenu2" class="dropdown-menu">
        <a *ngFor="let item of learningPackages " class="dropdown-item" href="#"[routerLink]="['/lesson-stat-page', item.id_lp]">{{ item.nom_lp }}</a>
      </div>
    </li>
  </ul>
    <!-- RouterLink Buttons -->
  <div class="navbar-nav">
    <a class="nav-link" routerLink="/lesson-management-list-page">Gestion des Learning Package</a>
    <a class="nav-link" routerLink="/lesson-training-list-page">S'entraîner</a>
  </div>

</nav>
