.histo-column {
  column-count: 2;
  column-gap: 10px;
}

@media (max-width: 992px) {
  .histo-column {
    column-count: 1;
  }
}

.element-group {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

