<div class="text-center py-5" style="background-color: #f0f0f0;">
  <div class="d-inline-block mt-5 bg-white border rounded p-4 shadow-sm" style="border-color: #ddd;">
    <h1 class="text-dark">Bienvenue sur la page d'accueil!</h1>
    <p class="text-dark">Le bouton Gestion des Learning Package permet de les éditer (CRUD), mais pas de s'entraîner</p>
    <p class="text-dark">Utilisez le bouton s'entraîner pour voir vos scores et vous entraîner</p>
    <p class="text-dark">Vous avez aussi accès à votre historique</p>
    <p class="text-dark">Conseil : lisez buildme et guide_readme avant d'utiliser</p>
    <p class="text-dark">Si vous avez run le script sql, vous êtes censé avoir 4 learning package de 20 questions chacun déjà présents</p>
  </div>
</div>


